{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}"
{% endblock css %}

{% block content %}
    <div class="playlist-container">
        <h1>My playlists</h1>
        {% if user %}
            <form action="{% url 'create_playlist' %}" method="post" id="playlist-form">
                {% csrf_token %}
                {{ playlist_form }}
                <button class="add-playlist-button" type="submit">+</button>
            </form>
            <table class="playlists-table">
                {% for playlist in playlists %}
                    <tr id="playlist-row-{{ playlist.id }}">
                        <td class="playlist-name-cell"><a href="{% url 'playlist' playlist.id %}">{{ playlist.name }}</a></td>
                        <td><a class='delete-playlist-button' href="{% url 'delete_playlist' playlist.id %}">Delete playlist</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    </div>

    <div class="recommended-container">
        <h1>Artist and album you should check out:</h1>
        <a href="{% url 'artist' album_info.artist_id %}" style="color:#FFFFFF; text-decoration:none;"><p class="hoverlink">{{ album_info.artist }}</p></a>
        <a href="{% url 'album' album_info.id %}"><p style="color:#FFFFFF" class="hoverlink">Album: {{ album_info.name }}</p></a>
        <a href="{% url 'album' album_info.id %}">
            <img src="{{ album_info.cover }}">
        </a>
        <br>
        <br>
        <a style="color:#FFFFFF; text-align:right" href="{% url 'refresh' %}" class="hoverlink">Other recommendation</a>
    </div>

    {% if user %}
        <div class="account-container">

                <h1>Your account</h1>
                <p style="color:white; font-size:20px;">{{ username }}</p>
                <form method="post" action="{% url 'logout' %}?next=/" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn logout-button">Logout</button>
                </form>
        </div>
    {% else %}
    {% endif %}

    <div class="container">
        {%if isFound%}
            {%for name, artist, picture, album in zip%}
                <div class="rsong">
                    <a href="{%url 'more' 1 name%}"><p>{{name}}</p></a>
                    <a href="{%url 'artist' artist%}"><p>{{artist}}</p></a>
                    <a href="{%url 'album' album artist%}"><img height="230px" src="{{picture}}"></a>
                </div>
            {%endfor%}
        {%endif%}
    </div>

    <script src="{% static 'app/js/delete-playlist.js' %}"></script>

    <script>
        let playlistUrlMasked = "{% url 'playlist' 'maskstring' %}";
        let deletePlaylistUrlMasked = "{% url 'delete_playlist' 'maskstring' %}";
    </script>

    <script src="{% static 'app/js/create-playlist.js' %}"></script>
{% endblock content %}
