{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Deenie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
        {% block css %} {% endblock css %}
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'app/images/logo.png' %}" height="43" width="122"></a>
            <form class="form" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                {{ search_form }}
            </form>
        </div>

        {% block content %}
        {% endblock content %}
    </body>
</html>
